<!DOCTYPE html>
<html>
  <head>
    <title>Mochihua</title>
    
    <link rel="stylesheet" href="css/style.css" />
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans|Raleway:100' rel='stylesheet' type='text/css' />

    <meta charset="utf-8" />
  </head>
  
  <body>
    <a class="reload" href=""></a>
    <form action="api/login" id="login_form">
      <section>
        <label>
          Usuario:
          <input type="text" name="username" />
        </label>
      </section>
      <section>
        <label>
          Password:
          <input type="password" name="password" />
        </label>
      </section>
      <button id="login">Entrar</button>
    </form>

    <form action="" id="new_idea"> 
      <textarea cols="40" rows="2" name="post[description]" id="description" maxlength="140"></textarea>
      <button id="collect">Crear</button>
    </form>

    <section id="ideas_">
      <h1></h1>
      <ol id="ideas">
      </ol>
    </section>

    <script id="idea" type="text/html">
      <li class="idea">
        <article> 
          <div class="content_wrapper">
            <div class="content">
              {{description}}
            </div>
          </div>
          <footer>
             <button id="complete" data-action="{{_links.delete.href}}">Completar</button>
             <button id="review" data-action="{{_links.review.href}}">Despues</button>
             <button id="delete" data-action="{{_links.delete.href}}">Borrar</button>
          </footer>
        </article>
      </li>
    </script>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="//rawgithub.com/HenrikJoreteg/ICanHaz.js/master/ICanHaz.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
